body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-color: antiquewhite;

}

.container {
    display: grid;
    grid-template-areas:
        "nav"
        "section"
        "main"
        "footer";
    height: 100vh;
}
h2, p{
    text-align: center;
  
}


nav {
    background-color: rgb(23, 98, 168);
    color: whitesmoke;
    grid-area: nav;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
   
}


.logo-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    padding-left: 5%;

}

.hide-menu {
    padding-right: 15px;
    font-size: xx-large;
}



main {
    background-color: white;
    grid-area: main;
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-items: center;
}

.coin-card,
.coin-card-hide {
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    background-color: whitesmoke;
}

footer {
    background-color: whitesmoke;
    color: #525252;
    grid-area: footer;
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    
}



@media screen and (min-width: 576px) {
    .hide-menu {
        display: none;
    }
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-right: 20px;
    gap: 30px;
}


.container {
    display: grid;
    grid-template-areas:
        "nav nav"
        "section main"
        "footer footer"
    ;
    grid-template-columns: 15% 85%;
}


img {
    width: 100px;
    height: 100px;
    text-align: center;
}


main {
    background-color: white;
    grid-area: main;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}


.coin-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}


img {
    width: 150px;
    height: 150px;
}


.container {
    display: grid;
    grid-template-areas:
        "nav main"
        "section main"
        "footer footer "

    ;
    grid-template-columns: 15% 85%;
}
p{
    text-align: center;
}

nav {
    background-color: rgb(228, 104, 104);
    color: whitesmoke;
    grid-area: nav;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-size: 90%;
}


nav .logo-menu {
    padding-left: 10%;
    font-size: 1vw;
    padding: 20px;
    margin: 60px;
}


nav li {
    padding: 20px;
}


main {
    background-color: white;
    grid-area: main;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}


.coin-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    transform: rotate(0deg);
    transition: all 3s;
}

.coin-card,
.coin-card-hide {
    background-color: aqua;
    transform: rotate(0deg);
    transition: all 3s;
}

footer {
    background-color: aquamarine;
    color: rgb(245, 245, 245);
    
}



@media screen and (max-width: 576px) {
    nav ul {
        display: none;
    }

    .coin-card-hide {
        display: none;
    }
}

.coin-card:hover {
    transform: rotate(45deg);
    background-color: blue;
}

.coin-card-hide:hover {
    transform: rotate(45deg);
    background-color: blue;

}

